@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
        'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#textShow {
    background: linear-gradient(0deg, rgba(21, 101, 216, 0.9), rgba(21, 101, 216, 0.9)), url(static/sideshowbg.jpeg);
    background-size: cover;
}

.gayathri-font {
    font-family: 'Gayathri';
}

.blockSelect:hover div > svg:first-child path {
    fill: #1565d8;
}
.blockSelect:hover div > svg:last-child path {
    fill: white;
}
.blockSelect div > svg:last-child path {
    fill: #1565d8;
}
.blockSelect > svg {
    visibility: hidden;
}
.blockSelect:hover > svg {
    visibility: visible;
}
